.work-profile__user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-img {
        width: 50%;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    & p {
        font-size: 30px;
        font-family: cursive;
        color: #1E4C89;
    }
}
