<div *ngIf="user">
    <div class="row work-profile__user-background"
        [ngStyle]="{'background': '#fff url(' + userStats.img + ') no-repeat 0 0', 'background-size': 'cover'}">
        <div class="work-profile__stats-div">
            <div class="row work-profile__stats-div-row">
                <div class="col l8 offset-l4 s12 offset-m4 m8 work-profile__stats-div-row__info">
                    <p class="paragraph_info">Followers <span class="span_info">{{ userStats.followers}} </span></p>
                    <p class="paragraph_info">Following <span class="span_info">{{ userStats.following }}</span></p>
                    <p class="paragraph_info">Photos <span class="span_info">{{ userStats.photos }}</span></p>
                    <p class="paragraph_info">Likes <span class="span_info">{{ userStats.likes }}</span></p>
                </div>
            </div>
        </div>
        <div class="work-profile__stats-div-row__img">
            <img [src]="user.image">
        </div>
    </div>
    <div class="row">
        <div class="col l10  offset-l2 m11 offset-m1 s12 work-portfolio__follow-wrapper ">
            <h1 class="work-profile__title-name">{{ user.name | capitalize }}</h1>
            <div class="work-portfolio__follow__block-info">
                <i class="small material-icons">person</i>
                <p>{{ user.city | capitalize}},{{ user.state | capitalize}}, {{user.street | capitalize}}</p>
            </div>
            <div>
                <button class="work-portfolio__follow_button" (click)="Follow()">{{charge}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="work-portfolio__text-about">
            Hello, It’s nice to meet you. My name is {{ user.name | capitalize }}. I am from {{ user.city | capitalize  }}. I live in
            {{ user.state | capitalize}}
            I’m interested in computer science, music, sport and fantasy literature. Computers first appered in my life
            when I was seven. Then I had got my first computer. It was Commodore 64 and I remember myself thinking, that
            it was the best thing in the world. I was playing it whenever I could. Then I had got my first PC. At first,
            I was just playing computer games, but some time later, I noticed that I could do a lot more things with the
            computer, for example programming. Now, I can already programue in Pascal, C++ and HTML. I have my own site
            on the internet and I have done many programues. I hope that in the future I will get a job as a computer
            scientist.
        </p>
    </div>
    <div class="row ii">
        <div class="col l6 m6 s12 f">
            <img src="../../assets/signature.png">
        </div>
    </div>
</div>