<div class="row content-block__login">
  <div class="block-form__login">
      <img src="https://dwstroy.ru/lessons/les3373/demo/img/men.png">
      <form>
          <div class="block_input__login">
                  <input type="text" name="username" placeholder="Name">
          </div>
          <div class="block_input__login pass_block">
                  <input type="password" name="userpassword" placeholder="Password">
          </div>

          <div>
              <button class="btn waves-effect waves-light" (click)="auth.GoogleSingIn()" type="submit" name="action">Login with Google
                      <i class="fab fa-google"></i>
              </button>
          </div>
      </form>
  </div>
</div>