<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">OnLine social network</h5>

        <p class="grey-text text-lighten-4">Life is short. Live it. Fear is natural. Face it. Memory is powerful. Use it.</p>
      </div>
      <div class="col l6  s12">
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/rudolf-klikh-09667516a/"><img src="../../assets/icons/linkedin.svg"></a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/rudolf.klikh.3"><img src="../../assets/icons/facebook.svg"></a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/rudolfklikh"><img src="../../assets/icons/github.svg"></a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/GrafTolstoj"><img src="../../assets/icons/twitter.svg"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col l12 s12 s12">
            © 2019 Created by Rudolf Klikh and Andrei Koliada
        </div>
      </div>
    </div>
  </div>
</footer>