
.page-footer {
    background-color: 	#B06ED4 !important;
    font-family: 'Source Sans Pro', sans-serif;
}
a:hover {
    color: #7F034F !important;
    font-weight: 600;
    transition: 0.3s all;
    cursor: pointer;
}
ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
}
img {
    height: 50px;
    transition: 0.4s all;
}
img:hover {
    height: 55px;
    cursor: pointer;
}